<div class="dashboard-container">
    <h1>List of your groups</h1>
    <div id="searchWrapper">
        <input type="text" name="searchBar" id="searchBar" placeholder="search for a group" />
    </div>
    <ul id="charactersList"></ul>
</div>